

<header class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <h1><image x="0" y="0" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/259476769_1845971162274528_8356938009057891321_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0BWJSv9ygXIAX8-Jl79&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT-N5Bqz7bqKg2dl0mprfD_zNd-wc2bSleTFLimuG06omw&oe=62659F71" style="height: 132px; width: 132px;">
                        </image> Casa Limpia Pilar</h1>
                        </a>
                        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" >
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Principal</a></li>
                            <li class="nav-item"><a href="../productos" class="nav-link" aria-current="page">Productos</a></li>
                            <li class="nav-item" ><a href="../contacto" class="nav-link" >Contactanos</a></li>
                            <li class="nav-item"><a href="../login" class="nav-link">Ingreso administracion</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>