

<header class="conteiner-fluid bg-info p-3 bg1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <h1 class="text-uppercase">
                        <a href="/">utn</a> 
                    </h1>
                </div>
            </div>
            <div classs="col">
                {{> navbar}}
            </div>
        </div>
    </div>
</header>