<body>
    <main class="container">
        <br>
                
      <div class="row g-5">
        <div class="col-md-8">
            <h2>No dudes en visitarnos!!</h2>
            <hr>
            <blockquote class="blockquote">
            <span class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m" dir="auto"><div class="kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x c1et5uql ii04i59q"><div dir="auto" style="text-align: start;">Amplia variedad de productos para la limpieza del hogar y todo tipo de espacios…  consulta lo que necesites! <span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="🥇" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/ted/1.5/16/1f947.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="😉" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb0/1.5/16/1f609.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="✨" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t7b/1.5/16/2728.png"></span></div></div></span>
            </blockquote>
          <h1 class="pb-4 mb-4 fst-italic border-bottom">
            Oportunidades
          </h1>
    
          <article class="blog-post">
            <p><span class="d2edcug0 hpfvmrgz qv66sw1b c1et5uql lr9zc1uh a8c37x1j fe6kdd0r mau55g9w c8b282yb keod5gw0 nxhoafnm aigsh9s9 d3f4x2em iv3no6db jq4qci2q a3bd9o3v b1v8xokw oo9gr5id hzawbc8m" dir="auto"><div class="kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x c1et5uql ii04i59q"><div dir="auto" style="text-align: start;">OFERTA EXCLUSIVA!!! <span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="💲" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb5/1.5/16/1f4b2.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="💲" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb5/1.5/16/1f4b2.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="💲" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb5/1.5/16/1f4b2.png"></span></div></div><div class="cxmmr5t8 oygrvhab hcukyx3x c1et5uql o9v6fnle ii04i59q"><div dir="auto" style="text-align: start;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="🎄" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t60/1.5/16/1f384.png"></span>Jabón Líquido </div><div dir="auto" style="text-align: start;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="🎄" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t60/1.5/16/1f384.png"></span>Suavizante </div><div dir="auto" style="text-align: start;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="🎄" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t60/1.5/16/1f384.png"></span>Lavandina </div><div dir="auto" style="text-align: start;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="🎄" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t60/1.5/16/1f384.png"></span>Desodorante para pisos</div></div><div class="cxmmr5t8 oygrvhab hcukyx3x c1et5uql o9v6fnle ii04i59q"><div dir="auto" style="text-align: start;"><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="💲" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tb5/1.5/16/1f4b2.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="7️⃣" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t4d/1.5/16/37_20e3.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="5️⃣" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/tf/1.5/16/35_20e3.png"></span><span class="pq6dq46d tbxw36s4 knj5qynh kvgmc6g5 ditlmg2l oygrvhab nvdbi5me sf5mxxl7 gl3lb2sf hhz5lgdu"><img height="16" width="16" alt="0️⃣" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/images/emoji.php/v9/t74/1.5/16/30_20e3.png"></span></div></div></span></p>
            <hr>
            
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/271237812_1873020109569633_4646326038820045389_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=a26aad&_nc_ohc=XtjGJPonrQgAX-bwsP6&_nc_oc=AQkFR6Pt_A9XSqv-wvOedamS8GvIr9Oi8Cbezvc4K9pBqU3kLMUT9GNhFVUpa7rLUshOpOen5xjmqrepyhFLVqHT&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT9T5uXtFJR9JUWA5-P72YD5yvZBE4xjgtbEW0VazlG7yQ&oe=62663F5A" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/271463817_1873020099569634_6428281965488669642_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=a26aad&_nc_ohc=HitgDKSPkZcAX-99QOj&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT8-poDjd9qEBqB0xjE32EYuW_VAH47NcDId3-RnmKuurg&oe=62671E18" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/271424645_1873020092902968_2390723673228948578_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=a26aad&_nc_ohc=kqaPb-xOLcEAX8_hD0G&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT8n4mCpcNM3h2UiAuI4vkZ34Cy4rY76Fcyx_6eBGigRHA&oe=6267B35F" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/271540832_1873020102902967_584937036304616092_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=a26aad&_nc_ohc=AwaWq_3P2RsAX_ey1ua&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT8NRZTD3w2hfw5b3qYpRuRrL-91RGd-L-YT085R842cjQ&oe=6266A063" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <hr>
            <p></p>

    
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
            <h3 class="fst-italic">Sucursal pilar</h3>
              <div class="col-auto d-none d-lg-block">
                <img src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t1.18169-9/29597440_839243386280649_527586739474007331_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=e3f864&_nc_ohc=YYjdbYdoGa4AX9Lbx_d&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT9Gr2ocCCUUi9xrS-BsUreL23z4pAgnCk1Obr5HxHNykA&oe=62886076" alt=""class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" justify="center">
      
              </div>
              <h4 class="fst-italic">Horarios</h4>
              <ol class="list-unstyled"></ol>
              <li class="h6">Lunes: 08:30 - 19:00</li>
              <li class="h6">Martes: 08:30 - 19:00</li>
              <li class="h6">Jueves: 08:30 - 19:00</li>
              <li class="h6">Viernes: 08:30 - 19:00</li>
              <li class="h6">Sabado: 09:00 - 19:00</li>
              <li class="h6">Domingo: Cerrado</li>
              </ol>
              <p class="mb-0" class="display-6">Encontrá todo lo que necesitas para dejar tu hogar, comercio, oficina, vehículo y espacios relucientes!!!</p>
              <p class="mb-0" class="display-6">Venta por mayor y menor de artículos de limpieza, papel higiénico, productos de primeras marcas, plásticos y mucho más</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">Encontranos en :</h4>
              <ol class="list-unstyled">
                <li><a href="https://twitter.com/casalimpiapilar">Twitter</a></li>
                <li><a href="https://es-la.facebook.com/casalimpiapilar1/">Facebook</a></li>
              </ol>
              <div></div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    
</main>

<!-- JavaScript Bundle with Popper -->

</body>
</html>

