<div class="container">
<body class="text-center">
    
<main class="container">
  <form action="/login" method="post">
    <img class="mb-4" src="https://scontent.ffdo2-1.fna.fbcdn.net/v/t39.30808-6/259476769_1845971162274528_8356938009057891321_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=0BWJSv9ygXIAX8-Jl79&_nc_ht=scontent.ffdo2-1.fna&oh=00_AT-N5Bqz7bqKg2dl0mprfD_zNd-wc2bSleTFLimuG06omw&oe=62659F71" alt="" width="72" height="57">
    <div class="container"><h1 class="h3 mb-3 fw-normal">Por favor ingrese</h1></div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="usuario" placeholder="usuario (usuario)">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="password" class="form-control" name="contraseña" placeholder="contraseña (contraseña)">
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Enviar Info">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

  </body>
</div>