
<div  class="container"  class="text-center m-5">
    <div class="container">
        <div class="text-center m-5">
            <hr>
            <h1>Nuestros productos!!</h1>
            <hr>
        </div>
    </div>
    <div class="row mb-2">
            {{#each results}}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{producto_nombre}}</h3>
                    <hr>
                    <p class="h5">${{producto_precio}}</p>
                    <p class="h6">{{producto_descripcion}}</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src={{producto_foto_url}} alt="" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
        
                </div>
                </div>
            </div>
            {{/each}}
    </div>